# PUC Minas

## Pós Graduação em Ciência de Dados e Big Data

## Trabalho de Conclusão de Curso

### Título: MODELOS PREDITIVOS PARA DETECÇÃO DE OVOS EM OVITRAMPAS A PARTIR DO CLIMA

### Aluno: Nathalia Machado Domingos Souza Lima

Este notebook é referente ao Trabalho de Conclusão de Curso em Ciência de Dados e Big Data. Neste trabalho o dataset de ovitrampas foi baixado no Portal de Dados Abertos de Prefeitura de Belo Horizonte e os dados metoreológicos foram baixados do site do Instituo Nacional de Metereologia (INMET), ambos referentes aos dados do ano de 2017.

# CARREGAMENTO E TRATAMENTO DE DADOS

In [1]:
import pandas as pd

In [2]:
# Abrindo arquivo
ovi = pd.read_csv('dataset_analise_armadilhas_ovitrampas_ref012017-102017.csv', sep = ',')

In [3]:
ovi.head()

,Area de Abrangencia,Semana Epidemiologica,Data da Instalacao,Data da Coleta,Status
0,C.S.REGINA,1,02/01/2017,09/01/2017,NEGATIVO
1,C.S.REGINA,1,02/01/2017,09/01/2017,NEGATIVO
2,C.S.REGINA,1,02/01/2017,09/01/2017,NEGATIVO
3,C.S.REGINA,1,02/01/2017,09/01/2017,NEGATIVO
4,C.S.REGINA,1,02/01/2017,09/01/2017,POSITIVO

In [4]:
# Verificando informações do dataset
ovi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34810 entries, 0 to 34809
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Area de Abrangencia    34810 non-null  object
 1   Semana Epidemiologica  34810 non-null  int64
 2   Data da Instalacao     34810 non-null  object
 3   Data da Coleta         34809 non-null  object
 4   Status                 34810 non-null  object
dtypes: int64(1), object(4)
memory usage: 1.3+ MB

In [5]:
# Eliminando colunas que não serão usadas
ovi2 = ovi.drop(columns=['Area de Abrangencia', 'Data da Instalacao',  'Data da Coleta'])

In [6]:
ovi2.head()

   Semana Epidemiologica    Status
0                      1  NEGATIVO
1                      1  NEGATIVO
2                      1  NEGATIVO
3                      1  NEGATIVO
4                      1  POSITIVO

In [7]:
# procurando valores nulos
print(ovi2.isnull().sum())

Semana Epidemiologica    0
Status                   0
dtype: int64

In [8]:
# procurando células vazias
print(ovi2.isna().sum())

Semana Epidemiologica    0
Status                   0
dtype: int64

In [9]:
# Renomeando colunas
ovi2.rename(columns={'Semana Epidemiologica': 'SemEpi',}, inplace = True)

In [10]:
# Trocando POSITIVO por 1 e NEGATIVO por 0 para Modelos Preditivos

def trocando_status(status):
    if status == 'POSITIVO':
        return 1
    else:
        return 0

In [11]:
# Rodando a função de troca de status
ovi2['Status'] = ovi2['Status'].map(trocando_status)

In [12]:
ovi2.head()

   SemEpi  Status
0       1       0
1       1       0
2       1       0
3       1       0
4       1       1

In [13]:
# Salvando o arquivo tratatado
ovi2.to_csv('ovi_SemEpi.csv', encoding='utf-8', index=False)